<footer class="blog-footer">
  Made By Cater @ 2015 <br/>
  <a style="color:#939393;" href="http://www.beian.miit.gov.cn/" target=_blank>粤ICP备19055501号</a>
  <div style="width:300px;margin:0 auto;">
	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602006567" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44010602006567号</p></a>
  </div>
</footer>
